@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color:black !important
}

.brand-logo{
  margin-left: 10px;
  font-family: 'Grand Hotel', cursive;
}

.auth-card{
  padding:20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  margin-top: 30px;
}

.input-field{
  padding:20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  margin-top: 30px;
}
.input-field input[type=text]:focus{
  border-bottom: 1px solid rgb(8, 46, 230) !important;
  box-shadow: 0 1px 0 0 rgb(8, 46, 230) !important;
}
.input-field input[type=password]:focus{
  border-bottom: 1px solid rgb(8, 46, 230) !important;
  box-shadow: 0 1px 0 0 rgb(8, 46, 230) !important;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 22px auto;
}

.toast-container{
  top:30px; 
  right: 20px !important;
  left:auto !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
  margin: 5px;
}

.material-icons{
  cursor:pointer;
}

.postProfile{
  margin-top: 2px !important;
}

.collection-item{
  width: 100% !important;
}